body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        135deg,
        #112D4E,
        #4c46f5
    );
}
.pozicijaNavigationBara{
    position: sticky;
    top: 0;
}
.navigationBar{
    background-color: #232931;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}
#dugmeZaPadajuciMeni{
    display: none;
}
#linkoviNaNavigationBaru{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif, serif;
}
#linkoviNaNavigationBaru a{
    /* display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#linkoviNaNavigationBaru :hover{
    background-color: #3F72AF;
}
#levaStrana{
    float: left;
}
#desnaStrana{
    float: right;
}
.box{
    margin: 0;
    background-color: #eceef3;
    width: 70%;
    padding: 35px;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    min-width: 200px;
}
#naslov{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.red{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(100px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 2vh;
}
label{
    color: #1c093c;
    font-size: 14px;
}
.kolona{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    background-color: #e6e9ef;
}
/* .kolona:focus{ nema pojma sta ovo radi
    outline: none;
    border-color: #6f6df4;
} */
#dugmence{
    border: none;
    padding: 10px 20px;
    background: linear-gradient(
        130deg,
        #112D4E,
        #2620bb
    );
    color: #ffffff;
    border-radius: 3px;
}
.pozicijaInputa{
    width: 25vw;
}
@media screen and (max-width: 600px) {
    #dugmeZaPadajuciMeni{
        display: block;
        float: left;
        padding: 10px 16px;
        background-color: #232931;
        color: white;
        border: none;
    }
    #linkoviNaNavigationBaru {
        overflow: hidden;
        background-color: #232931;
        position: relative;
    }
    #levaStrana {
        float: none;
        text-align: center;
    }
    #desnaStrana{
        float: none;
        text-align: center;
    }
    .pozicijaHomeDugmeta{
        width: 76%;
    }
    #linkovi {
        display: none;
    }
    #linkoviNaNavigationBaru a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    #drzava{
        width: 27vw;
    }
    #klijent{
        width: 27vw;
    }
}